.video-layout {
  display: grid;
  grid-template-rows: min-content 1fr;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 230px;
    grid-template-rows: none;
    height: 100%;
  }
}

.video-and-details {
  @media (min-width: 900px) {
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: max-content minmax(max-content, 1fr);
  }
}

.video-details {
  padding: var(--content-padding);
  background: var(--white);
  overflow: hidden;
}

.video-title {
  font-weight: 600;
  margin: 0;
  font-size: 1.6rem;
  max-width: 43ch;
}

.description {
  max-width: 67ch;
  line-height: 1.6;
}

.scroller {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 159px;
  --video-list-columns: none;
  --video-list-auto-flow: column;
  --video-list-auto-columns: 135px;
  background: var(--divider);
  display: grid;
  align-items: start;

  @media (min-width: 900px) {
    height: 100vh;
    --video-list-auto-flow: row;
    --video-list-auto-columns: auto;
    --video-list-auto-rows: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

:global(.video-to-video) .scroller {
  @media (min-width: 900px) {
    page-transition-tag: related-videos;
    contain: paint;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-slightly-from-bottom {
  from {
    transform: translateY(30px);
  }
}

@keyframes slide-slightly-to-top {
  to {
    transform: translateY(-30px);
  }
}

@keyframes slide-slightly-from-top {
  from {
    transform: translateY(-30px);
  }
}

@keyframes slide-slightly-to-bottom {
  to {
    transform: translateY(30px);
  }
}

::page-transition-outgoing-image(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-slightly-to-top;
}

::page-transition-incoming-image(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-slightly-from-bottom;
}

:global(.back-transition)::page-transition-outgoing-image(root) {
  animation-name: fade-out, slide-slightly-to-bottom;
}

:global(.back-transition)::page-transition-incoming-image(root) {
  animation-name: fade-in, slide-slightly-from-top;
}
