.main-layout {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  background: var(--primary-color);
  color: var(--white);
  height: 54px;
  display: grid;
  align-items: center;
  padding: 0 var(--content-padding);
  contain: paint;
}

.show-back-icon.header {
  padding: 0 10px;
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
}

.home-link {
  fill: var(--white);
  color: inherit;
  width: max-content;
}

.show-back-icon .home-link {
  display: grid;
  grid-template-columns: 31px 1fr;
  align-items: center;
  gap: 0.3rem;
}

.back-icon {
  display: none;
}

.show-back-icon .back-icon {
  display: block;
}
