.embed,
.video-img {
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.video-img {
  object-fit: cover;
  object-position: center;
  will-change: opacity;
  transition: opacity 500ms ease-in-out;
  pointer-events: none;
}

.embed-container {
  display: grid;
  contain: paint;
  page-transition-tag: embed-container;

  :global(.transition-video-to-video) & {
    page-transition-tag: none;
  }

  & > * {
    grid-area: 1 / 1;
  }
}
