:root {
  --white: #fff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --primary-color: #673ab7;
  --primary-dark: #512da8;
  --primary-light: #d1c4e9;
  --accent-color: #ff9800;
  --content-padding: 1.2rem;
}

html {
  background: var(--divider);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  color: var(--primary-text);
  line-height: 1.5;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  height: 100vh;
  height: -webkit-fill-available;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-out-a-bit {
  to {
    opacity: 0.8;
  }
}

@keyframes fade-in-a-bit {
  from {
    opacity: 0.8;
  }
}

@keyframes slide-and-fade-from-right {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
}

@keyframes slide-and-fade-to-left {
  to {
    opacity: 0;
    transform: translateX(-60px);
  }
}

@keyframes slide-and-fade-from-left {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
}

@keyframes slide-and-fade-to-right {
  to {
    opacity: 0;
    transform: translateX(60px);
  }
}

html:global(.transition-home-to-video)::page-transition-container(embed-container),
html:global(.transition-video-to-home)::page-transition-container(embed-container) {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
  z-index: 1;
}

html:global(.transition-video-to-home)::page-transition-container(embed-container) {
  animation-duration: 250ms;
}

html:global(.transition-home-to-video)::page-transition-container(root),
html:global(.transition-video-to-home)::page-transition-container(root) {
  background: black;
  animation: none;
}

html:global(.transition-home-to-video)::page-transition-image-wrapper(root),
html:global(.transition-video-to-home)::page-transition-image-wrapper(root) {
  isolation: auto;
}

html:global(.transition-home-to-video)::page-transition-outgoing-image(root),
html:global(.transition-home-to-video)::page-transition-incoming-image(root),
html:global(.transition-video-to-home)::page-transition-outgoing-image(root),
html:global(.transition-video-to-home)::page-transition-incoming-image(root) {
  mix-blend-mode: normal;
}

html:global(.transition-home-to-video)::page-transition-outgoing-image(root) {
  animation: 90ms linear both fade-out-a-bit;
}

html:global(.transition-video-to-home)::page-transition-incoming-image(root) {
  animation: 250ms cubic-bezier(0.8, 0, 0.6, 1) both fade-in-a-bit;
}

html:global(.transition-home-to-video)::page-transition-incoming-image(root) {
  animation: 150ms linear both 60ms fade-in;
}

html:global(.transition-video-to-home)::page-transition-outgoing-image(root) {
  animation: 150ms linear both 60ms fade-out;
  z-index: 2;
}

html:global(.transition-video-to-video)::page-transition-incoming-image(root) {
  animation: 500ms ease-out both slide-from-right;
}

html:global(.transition-video-to-video)::page-transition-outgoing-image(root) {
  animation: 500ms ease-out both slide-to-left;
}

html:global(.transition-video-to-video.back-transition)::page-transition-incoming-image(root) {
  animation-name: slide-from-left;
}

html:global(.transition-video-to-video.back-transition)::page-transition-outgoing-image(root) {
  animation-name: slide-to-right;
}

@media (min-width: 660px) {
  html:global(.transition-video-to-video)::page-transition-incoming-image(root) {
    animation-name: slide-and-fade-from-right;
    animation-duration: 300ms;
  }

  html:global(.transition-video-to-video)::page-transition-outgoing-image(root) {
    animation-name: slide-and-fade-to-left;
    animation-duration: 300ms;
  }

  html:global(.transition-video-to-video.back-transition)::page-transition-incoming-image(root) {
    animation-name: slide-and-fade-from-left;
  }

  html:global(.transition-video-to-video.back-transition)::page-transition-outgoing-image(root) {
    animation-name: slide-and-fade-to-right;
  }
}
