:root {
  --white: #fff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --primary-color: #673ab7;
  --primary-dark: #512da8;
  --primary-light: #d1c4e9;
  --accent-color: #ff9800;
  --content-padding: 1.2rem;
}

html {
  background: var(--divider);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  color: var(--primary-text);
  line-height: 1.5;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  height: 100vh;
  height: -webkit-fill-available;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:global(#app) {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-and-fade-from-right {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
}

@keyframes slide-and-fade-to-left {
  to {
    opacity: 0;
    transform: translateX(-60px);
  }
}

@keyframes slide-and-fade-from-left {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
}

@keyframes slide-and-fade-to-right {
  to {
    opacity: 0;
    transform: translateX(60px);
  }
}

html:global(.transition-warming-up)::page-transition-container(*),
html:global(.transition-warming-up)::page-transition-incoming-image(*),
html:global(.transition-warming-up)::page-transition-outgoing-image(*) {
  animation-play-state: paused !important;
}

html:global(.transition-home-to-video)::page-transition-container(embed-container),
html:global(.transition-video-to-home)::page-transition-container(embed-container) {
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

html:global(.transition-home-to-video)::page-transition-container(video-details),
html:global(.transition-video-to-home)::page-transition-container(video-details) {
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

html:global(.transition-home-to-video)::page-transition-incoming-image(video-details),
html:global(.transition-video-to-home)::page-transition-outgoing-image(video-details) {
  object-fit: cover;
  object-position: bottom center;
  animation: none;
  mix-blend-mode: normal;
}

html:global(.transition-home-to-video)::page-transition-outgoing-image(video-details),
html:global(.transition-video-to-home)::page-transition-incoming-image(video-details) {
  object-fit: none;
  object-position: bottom left;
  mix-blend-mode: normal;
  z-index: 1;
}

html:global(.transition-home-to-video)::page-transition-incoming-image(root),
html:global(.transition-video-to-home)::page-transition-outgoing-image(root) {
  display: none;
}

html:global(.transition-home-to-video)::page-transition-outgoing-image(root),
html:global(.transition-video-to-home)::page-transition-incoming-image(root) {
  animation: none;
  opacity: 1;
  mix-blend-mode: normal;
}

html:global(.transition-video-to-video)::page-transition-incoming-image(root) {
  animation: 500ms ease-out both slide-from-right;
}

html:global(.transition-video-to-video)::page-transition-outgoing-image(root) {
  animation: 500ms ease-out both slide-to-left;
}

html:global(.transition-video-to-video.back-transition)::page-transition-incoming-image(root) {
  animation-name: slide-from-left;
}

html:global(.transition-video-to-video.back-transition)::page-transition-outgoing-image(root) {
  animation-name: slide-to-right;
}

@media (min-width: 660px) {
  html:global(.transition-video-to-video)::page-transition-incoming-image(root) {
    animation-name: slide-and-fade-from-right;
    animation-duration: 300ms;
  }

  html:global(.transition-video-to-video)::page-transition-outgoing-image(root) {
    animation-name: slide-and-fade-to-left;
    animation-duration: 300ms;
  }

  html:global(.transition-video-to-video.back-transition)::page-transition-incoming-image(root) {
    animation-name: slide-and-fade-from-left;
  }

  html:global(.transition-video-to-video.back-transition)::page-transition-outgoing-image(root) {
    animation-name: slide-and-fade-to-right;
  }
}

@media (min-width: 900px) {
  html:global(.transition-home-to-video)::page-transition-incoming-image(related-videos) {
    animation: 300ms ease-out both slide-from-right;
  }

  html:global(.transition-video-to-home)::page-transition-outgoing-image(related-videos) {
    animation: 300ms ease-out both slide-to-right;
  }
}

/*
::page-transition-incoming-image(root) {
  animation: 500ms ease-out both slide-from-right;
}

::page-transition-outgoing-image(root) {
  animation: 500ms ease-out both slide-to-left;
}

html:global(.back-transition)::page-transition-incoming-image(root) {
  animation-name: slide-from-left;
}

html:global(.back-transition)::page-transition-outgoing-image(root) {
  animation-name: slide-to-right;
}

html:global(.transition-home-to-video)::page-transition-incoming-image(root) {
  animation-name: fade-in;
  animation-duration: 300ms;
}

html:global(.transition-home-to-video)::page-transition-outgoing-image(root) {
  animation-name: fade-out;
  animation-duration: 300ms;
}



@media (min-width: 660px) {
  ::page-transition-incoming-image(root) {
    animation-name: slide-and-fade-from-right;
    animation-duration: 300ms;
  }

  ::page-transition-outgoing-image(root) {
    animation-name: slide-and-fade-to-left;
    animation-duration: 300ms;
  }

  html:global(.back-transition)::page-transition-incoming-image(root) {
    animation-name: slide-and-fade-from-left;
  }

  html:global(.back-transition)::page-transition-outgoing-image(root) {
    animation-name: slide-and-fade-to-right;
  }

  ::page-transition-container(embed-container) {
    animation-duration: 300ms;
  }

  ::page-transition-container(video-details) {
    animation-duration: 300ms;
  }

  html:global(.transition-home-to-video)::page-transition-incoming-image(related-videos) {
    animation: 300ms ease-out both slide-and-fade-from-right;
  }

  html:global(.transition-video-to-home)::page-transition-outgoing-image(related-videos) {
    animation: 300ms ease-out both slide-and-fade-to-right;
  }
}
*/
